<!DOCTYPE html> 
<html> 
<body>
{% extends "layout.html" %}
{% block content %}  
<div class="cart">
<h1>Payment</h1> 
<table border="2">
   <tr>
      <td>Product</td>
      <td>Price</td>
      <td>Quantity<td>
      <td>Amount</td>
      <td>
     <input type="submit" value="Clear Cart" class="btnAddAction" /></td>
   </tr>
   <tr>
      <td>cake</td>  
   </tr>
</table>
<p><marquee>Thank you for your patronage</marquee></p>
<input type="submit" value="PAY" class="btnAddAction"/>
</div> 
{% endblock %} 
</body> 
</html>